@import "variables";
.post {
    .heading {
        font-size: 2.5rem;
        color: $main-color;
        span {
            color: $red-color;
        }
    }
    .btn-back {
        background-color: $red-color;
        cursor: pointer;
        color: #fff;
        &:hover {
            background-color: $main-color;
        }
    }
    .post-card {
        background-color: $secondary;
        h3 {
            font-size: 1.5rem;
            color: $gray;
            padding: 1rem 0;
        }
        p {
            font-size: 1.2rem;
            color: $gray;
            line-height: 2;
            text-align: start;
        }
        .card-img-top {
            width: 17%;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        .image-cover {
            @include image-cover(45px, 45px, 0px);
        }
    }

}
