@import "variables";

// Start Section Posts
.posts {
  .heading {
    font-size: 3.5rem;
    color: $main-color;
    span {
      color: $red-color;
    }
  }
}
::ng-deep {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: $secondary !important;
  }
  .mat-mdc-form-field-icon-prefix > .mat-icon,
  .mat-mdc-form-field-icon-suffix > .mat-icon {
    color: $gray;
  }
}
// End Section Posts
